/*

Template 2096 Individual

http://www.tooplate.com/view/2096-individual

*/
.parallax-window {
	min-height: 100vh;
	background: transparent;
	display: flex;
	align-items: center;
}

.tm-page-2{
	max-width: 800px;
}


.tm-bg-white {
	padding: 20px;
	background-color: white;
	opacity: 0.8;
	width: 100%;
}

.tm-bg-white2 {
		padding: 20px;
		background-color: white;
		opacity: 0.8;
		width: 100%;
		margin: 0px;
}


.tm-bg-white-transparent {
	margin: 5px;
	padding: 40px;
	background-color: #ffffffc4;
	max-width: 340px;
	width: 100%;
	margin: 20px;
}

.btn-danger {
	font-size: 1.5rem;
	margin-top: 20px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C66666;
	border-color: #C66666;
}

.row1 {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: auto;
	margin-left: auto;
}

@media screen and (max-width: 991px) {
	.tm-img-container {
		max-width: 490px;
		width: 90%;
	}
	}


